* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*HEADER*/
.header {
    box-shadow: 0px 20px 20px #888888;
    background-color: #095dac;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
    
.header h1 {
    display: inline-block;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
}

.header div {
    padding-top: 40px;
    margin-right: 50px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*LINKS IN HEADER SETTINGS*/
.header div ul li {
    display: inline-block;
    margin-left: 20px;
}

/*LINK TEXT SETTINGS*/
a {
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}

/*ABOUT ME SECTION*/
.About-Me {
    padding: 25px;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    text-align: center;
}

h2 {
  font-size: 40px;
  text-align: center;
}

img {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    filter: blur(1px);
    max-width: 90%;
    max-height: 90vh;
    background-color: white;
    box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.2), 0 14px 18px 0 rgba(0, 0, 0, 0.19);
  }

  img:hover {
    filter: blur(0px);
    border: solid #006eff59;
  }

h3 {
    font-size: 40px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
/*HEADER 2/3 EFFECTS*/
.gradient-multiline {
    position: relative;
    margin: 10px auto;
    background-color: white;
    text-align: center;
    line-height: 1.5em;
  }
    
.gradient-multiline span {
    color: white;
    background-color: #000;
    padding: 0.225rem 0.5rem;
  }
    @supports(mix-blend-mode: lighten) {
    
.gradient-multiline::after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(60deg, #3629a2, #00ccff);
      mix-blend-mode: lighten;
    }
  }
  
/*4 VALIANTS*/  
.container {
display: flex;

} 
  
#myImage{
    width: 90%;
    height: 90%;
    margin: 3%;
}

/*PARAGRAPH TEXT SETTINGS*/
p {
    font-size: 35px;

}

  /* CONTACT ME SECTION */
input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
input[type=submit] {
    background-color: #095dac;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
  }
  
.container {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
  }
  
.column {
    float: left;
    width: 50%;
    margin-top: 20px;
    padding: 20px;
  }
  
@media screen and (max-width: 600px) {
.column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

    /*PAGE DIVIDER SETTINGS*/
  .h-divider {
    margin: auto;
    margin-top: 30px;
    width: 90%;
    position: relative;
  }
  
  .h-divider .shadow {
    overflow: hidden;
    height: 20px;
  }
  
  .h-divider .shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px black;
  }

/*FOOTER SETTINGS*/
.footer {
    padding: 10px;
    clear: both;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 40px;
}